@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#f2f2f2;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Poppins', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.header-section { margin:0; padding:0;position:relative; background:#fcf7fa url(../images/hero-bg-large.png) no-repeat center top; height:100%;}

.header-div { margin:0; padding:20px; position:relative;}
.header-div .logo-div{ margin:0; padding:0; position:relative; display:inline-block; float:left;}
.header-div .nav-div{ margin:10px 0 0 0; padding:0; position:relative; display:inline-block; float:right;}
.header-div .nav-div li  { margin:0 20px; padding:0; color:#fff; font-size:14px;}
.header-div .nav-div li a { margin:0; padding:0 0 5px 0!Important; color:#fff; font-size:14px;}
.header-div .nav-div li a:hover { color:#82bbff;}
.header-div .nav-div li.active a, .header-div .nav-div li.active a:hover { border-bottom:2px solid #fff;}

.top-startup { margin:0 0 0 10px; padding:0;position:relative;}
.top-startup .form-control{ margin-right:5px; position:relative; border-radius:0; box-shadow:0 5px 5px #222; color:#666;}
.btn-startfree{ border-radius:0!important; box-shadow:0 5px 5px #222; border:0!important; color:#fff; font-size:16px; font-weight:600!important;
padding:.375rem  30px!important;
background: #b4141f; /* Old browsers */
background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b4141f 0%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b4141f 0%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}

.banner-container{ margin:0; padding:0;position:relative;}
.banner-container .banner-div{ margin:80px auto 0 auto; padding:0;position:relative; text-align:center;}
.banner-container .banner-div h3{ margin:0 0 10px 0; padding:0;position:relative; text-align:center; color:#fff; font-size:42px; font-weight:600;}
.banner-container .banner-div h4{ margin:0 0 20px 0; padding:0;position:relative; text-align:center; color:#fff; font-size:16px; }
.banner-container .top-email-box{ margin:0 auto; padding:0;position:relative; width:50%;}
.banner-container .top-email-box .form-inline{ margin:0 auto; padding:0;position:relative; display:block; text-align:center;}
.banner-container .top-email-box .form-control{ margin-right:5px; position:relative; border-radius:0; box-shadow:0 5px 5px #222; color:#666; width:45%;}
.banner-container .top-email-box .btm-link  { margin:10px 120px 0 0; padding:0; display:block; position:relative; text-align:right; color:#fff; font-size:11px;}
.banner-container .top-email-box .btm-link  a{color:#fff; font-size:11px; text-decoration:underline;}
.banner-container .top-email-box .btm-link  a:hover{text-decoration:none;}

.dashboard-mb-img{ margin:50px auto 0 auto; padding:0;position:relative; text-align:center;}
.dashboard-mb-img img{ margin:0 auto; padding:0;position:relative; text-align:center; height:550px;}

.three-action-box { margin:80px 0 0 0; padding:0 0 50px 0; position:relative;}
.three-action-box .three-action-div{ margin:0; padding:0; position:relative;}
.three-action-box .three-action-div h3{ margin:0 0 10px 0; padding:0;color:#fff; font-size:18px; font-weight:600;}
.three-action-box .three-action-div p{ margin:0 50px 0 0; padding:0;color:#fff; font-size:14px; line-height:24px;}

.short-plan-div{ margin:50px 0 0 0; padding:0 0 120px 0; position:relative; z-index:99;}
.short-plan-div .short-plan-box{ margin:0 auto; padding:30px 30px; position:relative; background:#fff; border-radius:8px; width:500px; text-align:center;
box-shadow:0 5px 5px #666;
}
.short-plan-div .short-plan-box .txt-box{ margin:0; padding:0; position:relative; display:inline-block; float:left; text-align:left; z-index:99;}
.short-plan-div .short-plan-box .txt-box h3{ margin:0 0 5px 0; padding:0;color:#344052; font-size:18px; font-weight:600;}
.short-plan-div .short-plan-box .txt-box p{ margin:0 0px 0 0; padding:0;color:#344052; font-size:14px;}
.short-plan-div .short-plan-box .btn-link-div{ margin:5px 0 0 0; padding:0; position:relative; display:inline-block; float:right; text-align:right;}
.short-plan-div .short-plan-box .btn-link-div .link { margin:0; padding:0; color:#222; font-size:14px; font-weight:700; display:inline-block; 
text-decoration:none; background: #fff url(../images/seeplan-btn.png); height:38px; width:115px;
  
}


.features-section .features-div{ margin:0; padding:0; position:relative;}
.features-section .features-div .features-action-div{ margin:150px 0 0 0; padding:0; position:relative;}

.features-section .features-div h3{ margin:0 0 10px 0; padding:0;color:#344052; font-size:28px; font-weight:700;}
.features-section .features-div p{ margin:0 0px 20px 0; padding:0;color:#344052; font-size:16px; line-height:24px;}
.features-section .features-div .features-img-div {margin:0; padding:0; position:relative;}
.features-section .features-div .features-img-div.right {margin:0; padding:0; position:relative;text-align:right;}
.features-section .features-div .features-img-div img { height:500px;}
.features-section .features-div .features-img-div .img1 { position:absolute; z-index:10; top:0; left:0;}
.features-section .features-div .features-img-div .img2 { position:absolute; z-index:11; top:40px; left:130px;}
.features-section .features-div .features-img-div.right .img1 {  z-index:12;  top:30px; right:100px;}
.features-section .features-div .features-img-div.right .img2 { z-index:10; top:0; right:0;}

.video-section { margin:0; padding:150px 0 100px 0; position:relative; background:#7a73fb;}
.video-section .video-div{ margin:0; padding:0; position:relative; text-align:center;}
.video-section .video-div h3{ margin:0 0 10px 0; padding:0; position:relative; text-align:center; color:#fff; font-size:32px; font-weight:600;}
.video-section .video-div p{ margin:0 0 50px 0; padding:0 30%; position:relative; text-align:center; color:#fff; font-size:14px;}
.video-section .video-div .vidoe-icon{ margin:0 auto; padding:0; position:relative; text-align:center;}
.video-section .video-div .vidoe-icon img{ margin:0 auto;text-align:center;}

.get-started-section  { margin:0; padding:0; position:relative;}
.get-started-section  .get-started-div{ margin:0; padding:0 0 50px 0; position:relative; text-align:center;}
.get-started-section  .get-started-div h3{ margin:30px 0 10px 0; padding:0; position:relative; text-align:center; color:#344052; font-size:32px; font-weight:600;}
.get-started-section .get-started-div p{ margin:0 0 50px 0; padding:0 30%; position:relative; text-align:center; color:#344052; font-size:14px;}
.get-started-section .get-started-div .get-started-img{ margin:-50px auto 0 auto; padding:0; position:relative; text-align:center;}
.get-started-section .get-started-div .get-started-img img{ margin:0 auto;text-align:center;}

.get-started-section .email-box{ margin:0 auto; padding:0;position:relative; width:50%;}
.get-started-section .email-box .form-inline{ margin:0 auto; padding:0;position:relative; display:block; text-align:center;}
.get-started-section .email-box .form-control{ margin-right:5px; position:relative; border-radius:0; box-shadow:0 5px 5px #222; color:#666; width:45%;}
.get-started-section .email-box .btm-link  { margin:10px 120px 0 0; padding:0; display:block; position:relative; text-align:right; color:#344052; font-size:11px;}
.get-started-section .email-box .btm-link  a{color:#344052; font-size:11px; text-decoration:underline;}
.get-started-section .email-box .btm-link  a:hover{text-decoration:none;}

.download-app-section { margin:0; padding:50px 0 50px 0; position:relative; 
background: #b4141f; /* Old browsers */
background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b4141f 0%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b4141f 0%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}
.download-app-section .download-app-div{ margin:0; padding:0; position:relative; text-align:center;}
.download-app-section .download-app-div h3{ margin:0 0 10px 0; padding:0; position:relative; text-align:center; color:#fff; font-size:32px; font-weight:600;}
.download-app-section .download-app-div p{ margin:0 0 50px 0; padding:0 30%; position:relative; text-align:center; color:#fff; font-size:14px;}
.download-app-section .download-app-div .app-btn{ margin:0 auto; padding:0; position:relative; text-align:center;}
.download-app-section .download-app-div .app-btn img{ margin:0 auto;text-align:center;}

.footer-div{ margin:0; padding:50px 0; position:relative; background:#161e28;}
.footer-div .footer-col-div { margin:0; padding:0; position:relative;}
.footer-div .footer-col-div .footer-link-div { margin:0; padding:0; position:relative;}
.footer-div .footer-col-div .footer-link-div h4{ margin:0 0 10px 0; padding:0; position:relative; color:#fff; font-size:16px; font-weight:700;}
.footer-div .footer-col-div .footer-link-div ul{ margin:0; padding:0;}
.footer-div .footer-col-div .footer-link-div ul li{ margin:0 0 5px 0; padding:0; color:#fff; font-size:14px;}
.footer-div .footer-col-div .footer-link-div ul li a{ margin:0; padding:0; color:#fff; font-size:14px;}
.footer-div .footer-col-div .footer-link-div p{ margin:0; padding:0; color:#fff; font-size:14px;}

.copyright-div { margin:0; padding:20px 0; background:#232b36;}
.copyright-div p{ margin:0; padding:0; color:#fff; font-size:14px;}
.copyright-div .social-footer{ margin:0; padding:0; text-align:right;}
.copyright-div .social-footer li{ margin:0 25px 0 0; padding:0; color:#73787f; display:inline-block;}
.copyright-div .social-footer li a{ margin:0; padding:0; color:#73787f; }
.copyright-div .social-footer i { font-size:24px;}
.copyright-div .social-footer li a:hover{ color:#fff;}

.light-red-bg-1{ background: url(../images/light-red-bg.png) no-repeat center top; height:1387px; top:-300px; z-index:10; position:relative;}
.feature-top-1 { padding-top:400px;}

.light-red-bg-2{ background: url(../images/light-red-bg-2.png) no-repeat center top; height:1058px; top:0; z-index:10; position:relative;}
.feature-top-2 { padding-top:400px;}


#back-to-top { margin:0; padding:0; position:absolute; right:20px; bottom:20px; cursor:pointer; z-index:13;}
#back-to-top span { margin:0; padding:0; position:relative; border-radius:50px; width:50px; height:50px; text-align:center; line-height:45px; color:#fff; font-size:24px; font-weight:600; display:inline-block;

background: #b4141f; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #b4141f 0%, #3252a8 50%, #004b8d 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #b4141f 0%,#3252a8 50%,#004b8d 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #b4141f 0%,#3252a8 50%,#004b8d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#004b8d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.faq-section  { margin:0; padding:0; position:relative;}
.faq-section .faq-div{ margin:0; padding:100px 0; position:relative; }
.faq-section .faq-div h3{ margin:0px 0 20px 0; padding:0; position:relative;color:#344052; font-size:18px; font-weight:600;}
.faq-section .faq-div p{ margin:0 30px 20px 0; padding:0; position:relative; color:#344052; font-size:14px; line-height:20px;}

.blk-title { margin:0px 0 50px 0; padding:0; position:relative;color:#344052; font-size:38px; font-weight:600; text-align:center; text-transform:uppercase}

.testimonials-container{ margin: 0 auto; padding:0 0 100px 0; position:relative; text-align:center;}
.testimonials-container .testimonials-div{ margin:0 auto; padding:0; position:relative; text-align:left; }
.testimonials-container .testimonials-div .thumb{ margin:0; padding:0; position:relative;  display:table-cell; vertical-align:top; }
.testimonials-container .testimonials-div .thumb img{ margin:0; position:relative; width:80px; height:80px; border-radius:100%; display:table-cell;}
.testimonials-container .testimonials-div .txt{ margin:0; padding:0; position:relative;left:20px; display:table-cell; vertical-align:top;}
.testimonials-container .testimonials-div .txt p{ margin:0 0 20px 0; padding:0; position:relative; color:#fff; font-size:13px;}
.testimonials-container .testimonials-div .txt .client{ margin:0; padding:0; position:relative; display:block; color:#9399a3; font-size:13px;}

.pricing-container { margin: 0 auto; padding:0; position:relative;}
.pricing-top-container { margin: 0 auto; padding:100px 0; position:relative;}
.pricing-top-container h2{  margin:0 0 20px 0; padding:0; position:relative; color:#fff; font-size:24px; font-weight:700;}
.pricing-top-container h3{ margin:0 0 60px 0; padding:0; position:relative; color:#fff; font-size:14px;}

.pricing-top-container .pricing-blk-div{ margin: 0 auto; padding:0; position:relative; border-radius:8px; background:#fff; height:378px; box-shadow:0 5px 5px #ccc;}
.pricing-top-container .pricing-blk-div h4{ margin: 0 auto; padding:25px 0; position:relative; background:#dfdfdf; color:#333; font-size:14px; text-transform:uppercase; font-weight:700; text-align:center; border-radius: 8px 8px 0 0;}
.pricing-top-container .pricing-blk{ margin: 0 auto; padding:0; position:relative;border-radius:0 0 8px 8px; background:#fff;}

.pricing-top-container .pricing-blk-div{ margin: 0 auto; padding:0; position:relative;}

/* general */

.header-section {
    background: #b4141f; /* Old browsers */
	background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 60%, #014b8e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}

/* end of general */

/* contact us */

.contact-container { margin: 0 auto; padding:0; position:relative;font-family: 'Poppins', sans-serif!important;}
.contact-top-container { margin: 0 auto; padding:100px 0; position:relative;}
.contact-top-container h1{  margin:0 0 20px 0; padding:0; position:relative; color:#fff; font-size:42px; font-weight:700;text-align:center;font-family: 'Poppins', sans-serif!important;}
.contact-top-container h3{ margin:0 0 40px 0; padding:0 20px; position:relative; color:#fff; font-size:20px;line-height:1.6;font-family: 'Poppins', sans-serif!important;}
.contact-top-container .content_div{ margin: 0 auto; padding:0; position:relative; }
.contact-top-container .card_div{margin: 0 auto; padding:50px 20px; position:relative;background-color:#fff;border-radius:6px;box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);}
.contact-top-container .card_div label{font-weight:600;color: #253145!important;}
.contact-top-container .card_div .form-control {display: block;width: 100%;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #f6f6f6;
    background-clip: padding-box;border: 1px solid #f3f3f3;border-radius: 0;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.contact-top-container .card_div textarea {resize:none;}
.contact-top-container .card_div .btn-div{display:block;text-align:center;margin:0;padding:30px 0;}
.contact-top-container .card_div .btn-div .btn-startfree{width:60%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}
.contact-top-container .card_div .btn-div .btn-startfree:hover{width:60%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}

.contact-top-container .card_div ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaafb6;
}
.contact-top-container .card_div ::-moz-placeholder { /* Firefox 19+ */
  color: #aaafb6;
}
.contact-top-container .card_div :-ms-input-placeholder { /* IE 10+ */
  color: #aaafb6;
}
.contact-top-container .card_div:-moz-placeholder { /* Firefox 18- */
  color: #aaafb6;
}
.contact-top-container .form-control:focus {
    color: #495057;
    border-color: #f6f6f6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
}
/* end of contact us */

/* login */

.login-bg{
	background: #b4141f; /* Old browsers */
	background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 60%, #014b8e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}

.login-container { margin: 0 auto; padding:0; position:relative;font-family: 'Poppins', sans-serif!important;}
.login-top-container { margin: 0 auto; padding:100px 0; position:relative;}
.login-top-container .content_div{ margin: 0 auto; padding:0; position:relative; }
.login-top-container .content_div .logo-div{ margin: 0 auto 50px auto; padding:0; position:relative;text-align:center; }
.login-top-container .card_div{margin: 0 auto; padding:50px 20px; position:relative;background-color:#fff;border-radius:6px;box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);}
.login-top-container .card_div label{font-weight:600;color: #253145!important;}
.login-top-container .card_div .form-control {display: block;width: 100%;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #f6f6f6;
    background-clip: padding-box;border: 1px solid #f3f3f3;border-radius: 0;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.login-top-container .card_div textarea {resize:none;}
.login-top-container .card_div .login-div-content{margin:0;padding:00px 0;}
.login-top-container .card_div .login-div-content h2{margin: 0 0 10px 0;padding: 0;position: relative;color: #253145;font-size: 42px;font-weight: 700;text-align: center;font-family: 'Poppins', sans-serif!important;}
.login-top-container .card_div .login-div-content p{margin: 0 0 30px 0;padding: 0;position: relative;color: #253145;font-size: 16px;font-weight: 600;text-align: center;font-family: 'Poppins', sans-serif!important;}
.login-top-container .card_div .login-div-content a{background: linear-gradient(to right, #b4141f 0%,#014b8e 100%);-webkit-background-clip: text;-webkit-text-fill-color:transparent;
text-transform:capitalize;}
.login-top-container .card_div .forgot-password{padding:0;margin:0;text-align:right;}
.login-top-container .card_div .forgot-password a{padding:0px;font-weight: 600;color: #253145!important;text-decoration:underline;}

.login-top-container .card_div .btn-div{display:block;text-align:center;margin:0;padding:30px 0 10px 0;}
.login-top-container .card_div .btn-div .btn-startfree{width:100%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}
.login-top-container .card_div .btn-div .btn-startfree:hover{width:100%!important;padding: .5rem 30px!important;}

.login-top-container .card_div .btn-div .btn-facebook{
	width:100%!important;
	padding: .5rem 30px!important;
	border:1px solid transparent;
	border-radius:0!important;
	text-transform:capitalize;
	background-color:#fff;
	outline:none; 
	-moz-border-image: -moz-linear-gradient(to right, #b4141f 0%,#014b8e 100%);
	-webkit-border-image: -webkit-linear-gradient(to right, #b4141f 0%,#014b8e 100%);
	border-image: linear-gradient(to right, #b4141f 0%,#014b8e 100%);
	border-image-slice: 1;
	background: linear-gradient(to right, #b4141f 0%,#014b8e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	text-transform:capitalize;
}

.login-top-container .card_div .btn-div .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
}
.login-top-container .card_div .form-control:focus {
    color: #495057;
    border-color: #f6f6f6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
}
.login-top-container .card_div .btn-div .btn-facebook:hover{width:100%!important;padding: .5rem 30px!important;border-radius:0!important;}

.login-top-container .card_div .btn-div .btn-facebook span i{
	padding:0px 10px;
	background: linear-gradient(to right, #b4141f 0%,#014b8e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	text-transform:capitalize;
	font-size: 18px;
}
.login-top-container .card_div .btn-div p{text-align:center;padding:10px 0 0 0;color:#6b7381;font-weight:600;}

/* login */

/* Terms */

.terms-h2{font-size:48px!important;text-align:center;font-family: 'Poppins', sans-serif!important;}
.terms-section{ margin:0; padding:0; position:relative;}
.terms-section .terms-div{ margin:0; padding:80px 0; position:relative; }
.terms-section .terms-div p{ margin:0 30px 20px 0; padding:0; position:relative; color:#344052; font-size:14px; line-height:20px;font-weight: 700;}
.terms-section .terms-div p span{padding: 0 10px 0 0;}

/* end of Terms */

@media only screen and (max-width: 767px){
	html, body { overflow-x:hidden;}
	.container { width:100% !important;}	
	.canvas { margin:0!important; padding:0!important;}
	
	.header-div .container-fluid, .header-div .row, .header-div .col-md-12, .header-div .col-sm-12 { margin:0; padding:0;}
	.header-div .logo-div{ z-index:9999;padding:0 10px;}
	.header-div { padding:20px 0px; height:auto; }
	.header-section{background:#004b8d; background-image:none;height:auto;}
	
	.header-div .logo-div img { z-index:9999;}
	.navbar-toggler { border:0; float:right; width:100%;outline:0; border:0; text-align:right;}
	.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:vistied {outline:0; border:0;}
	.header-div .navbar { padding:0; float:right;}
	.header-div .nav-div {position: absolute; right: 0;width: 100%;float: right;display: block;text-align: right; z-index:10;}
	.navbar-collapse {margin: 20px 0; padding:10px 0; text-align: left; background:#004b8d;}
	.header-div .nav-div li { padding:5px 0px;}
	
	.top-startup { padding:20px 10px;}
	.btn-startfree { width:100%; margin:10px 0 0 0;}
	
	.banner-container { padding:20px;}
	.banner-container .top-email-box { width:90%;}
	.banner-container .top-email-box .form-control{ width:100%;}
	.banner-container .top-email-box .btm-link { margin:10px 0 0 0; text-align:center;}
	
	.three-action-box { padding-left:20px; padding-right:20px;}
	.three-action-box .three-action-div { margin-bottom:40px;}
	.three-action-box .three-action-div p { margin-right:10px;}
	.short-plan-div .short-plan-box { width:90%;}
	.short-plan-div .short-plan-box .btn-link-div { margin:10px auto; float:none; text-align:center;}
	
	.light-red-bg-1 , .light-red-bg-2{ background-image:none; background:#fcf7fa; height:auto; top:auto;}
	.feature-top-1, .feature-top-2{ padding:0;}
	
	.features-section { padding:100px 0;}
	.features-section .features-div .features-img-div { height:300px; margin:0 auto 0px auto; text-align:center;}
	.features-section .features-div .features-img-div img { height:300px; margin:0 auto; text-align:center;}
	
	.video-section { padding-top:100px;}
	.video-section .video-div p {padding:0 20px;}
	.video-section .video-div .vidoe-icon img { width:25%;}
	.get-started-section .get-started-div .get-started-img img{ width:90%;}
	.get-started-section .get-started-div p{padding:0 20px;}
	
	.get-started-section .email-box { width:80%;}
	.get-started-section .email-box .form-control { width:100%;}
	.get-started-section .email-box .btm-link { margin:10px auto; float:none; text-align:center;}
	.download-app-section .download-app-div p{padding:0 20px;}
	
	.footer-div .footer-col-div .footer-link-div img { margin:0 auto; text-align:center;}
	.footer-div .footer-col-div .footer-link-div  { margin-bottom:30px;}
	
	.copyright-div .social-footer { text-align:center;}
	.copyright-div p{ text-align:center; margin:0px 0 20px 0;}
	
	.short-plan-div { margin:0; padding:0 0 100px 0;}
	
	/* login */
	.login-bg {
		background: #004b8d!important;
	}
	
}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	.header-div .container-fluid, .header-div .row, .header-div .col-md-12, .header-div .col-sm-12 { margin:0; padding:0;}
	.header-div .logo-div{ z-index:9999;padding:10px 30px;}
	.header-div { padding:20px 0px; height:auto; }
	.header-section{background:#004b8d; background-image:none;height:auto;}
	
	.header-div .logo-div img { z-index:9999;}
	.navbar-toggler { border:0; float:right; width:100%;outline:0; border:0; text-align:right;}
	.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:vistied {outline:0; border:0;}
	.header-div .navbar { padding:0; float:right; width:100%;}
	.header-div .nav-div {position: absolute; right: 0;width: 100%;float: right;display: block;text-align: right; z-index:10;}
	.navbar-collapse {margin: 20px 0; padding:10px 0; text-align: left; background:#004b8d;}
	.header-div .nav-div li { padding:5px 0px;}
	
	
	.features-section .features-div .features-img-div { height:300px; margin:50px auto 0px auto; text-align:center;}
	.features-section .features-div .features-img-div img { height:300px; margin:0 auto; text-align:center;}
	.features-section .features-div .features-action-div { margin-top:0;}
	
	.video-section { padding:100px 50px;}
	.video-section .video-div p {padding:0 20px;}
	.video-section .video-div .vidoe-icon img { width:15%;}
	.get-started-section .get-started-div .get-started-img img{ width:90%;}
	.get-started-section .get-started-div p{padding:0 20px;}
	
	.get-started-section .email-box { width:70%;}
	.get-started-section .email-box .btm-link { margin:20px auto; float:none; text-align:center;}
	
	.download-app-section .download-app-div p{padding:0 20px;}
	
	/* login */
	.login-bg {
		background: #004b8d!important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	
	
}
@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#f2f2f2;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Poppins', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.header-section { margin:0; padding:0;position:relative; background:#fcf7fa url(../images/hero-bg-large.png) no-repeat center top; height:100%;}

.header-div { margin:0; padding:20px; position:relative;}
.header-div .logo-div{ margin:0; padding:0; position:relative; display:inline-block; float:left;}
.header-div .nav-div{ margin:10px 0 0 0; padding:0; position:relative; display:inline-block; float:right;}
.header-div .nav-div li  { margin:0 20px; padding:0; color:#fff; font-size:14px;}
.header-div .nav-div li a { margin:0; padding:0 0 5px 0!Important; color:#fff; font-size:14px;}
.header-div .nav-div li a:hover { color:#82bbff;}
.header-div .nav-div li.active a, .header-div .nav-div li.active a:hover { border-bottom:2px solid #fff;}

.top-startup { margin:0 0 0 10px; padding:0;position:relative;}
.top-startup .form-control{ margin-right:5px; position:relative; border-radius:0; box-shadow:0 5px 5px #222; color:#666;}
.btn-startfree{ border-radius:0!important; box-shadow:0 5px 5px #222; border:0!important; color:#fff; font-size:16px; font-weight:400!important;
padding:.375rem  30px!important;
background: #b4141f; /* Old browsers */
background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b4141f 0%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b4141f 0%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}

.banner-container{ margin:0; padding:0;position:relative;}
.banner-container .banner-div{ margin:80px auto 0 auto; padding:0;position:relative; text-align:center;}
.banner-container .banner-div h3{ margin:0 0 10px 0; padding:0;position:relative; text-align:center; color:#fff; font-size:42px; font-weight:600;}
.banner-container .banner-div h4{ margin:0 0 20px 0; padding:0;position:relative; text-align:center; color:#fff; font-size:16px; }
.banner-container .top-email-box{ margin:0 auto; padding:0;position:relative; width:50%;}
.banner-container .top-email-box .form-inline{ margin:0 auto; padding:0;position:relative; display:block; text-align:center;}
.banner-container .top-email-box .form-control{ margin-right:5px; position:relative; border-radius:0; box-shadow:0 5px 5px #222; color:#666; width:45%;}
.banner-container .top-email-box .btm-link  { margin:10px 120px 0 0; padding:0; display:block; position:relative; text-align:right; color:#fff; font-size:11px;}
.banner-container .top-email-box .btm-link  a{color:#fff; font-size:11px; text-decoration:underline;}
.banner-container .top-email-box .btm-link  a:hover{text-decoration:none;}

.dashboard-mb-img{ margin:50px auto 0 auto; padding:0;position:relative; text-align:center;}
.dashboard-mb-img img{ margin:0 auto; padding:0;position:relative; text-align:center; height:550px;}

.three-action-box { margin:80px 0 0 0; padding:0 0 50px 0; position:relative;}
.three-action-box .three-action-div{ margin:0; padding:0; position:relative;}
.three-action-box .three-action-div h3{ margin:0 0 10px 0; padding:0;color:#fff; font-size:18px; font-weight:600;}
.three-action-box .three-action-div p{ margin:0 50px 0 0; padding:0;color:#fff; font-size:14px; line-height:24px;}

.short-plan-div{ margin:50px 0 0 0; padding:0 0 120px 0; position:relative; z-index:99;}
.short-plan-div .short-plan-box{ margin:0 auto; padding:30px 30px; position:relative; background:#fff; border-radius:8px; width:500px; text-align:center;
box-shadow:0 5px 5px #666;
}
.short-plan-div .short-plan-box .txt-box{ margin:0; padding:0; position:relative; display:inline-block; float:left; text-align:left; z-index:99;}
.short-plan-div .short-plan-box .txt-box h3{ margin:0 0 5px 0; padding:0;color:#344052; font-size:18px; font-weight:600;}
.short-plan-div .short-plan-box .txt-box p{ margin:0 0px 0 0; padding:0;color:#344052; font-size:14px;}
.short-plan-div .short-plan-box .btn-link-div{ margin:5px 0 0 0; padding:0; position:relative; display:inline-block; float:right; text-align:right;}
.short-plan-div .short-plan-box .btn-link-div .link { margin:0; padding:0; color:#222; font-size:14px; font-weight:700; display:inline-block; 
text-decoration:none; background: #fff url(../images/seeplan-btn.png); height:38px; width:115px;
  
}


.features-section .features-div{ margin:0; padding:0; position:relative;}
.features-section .features-div .features-action-div{ margin:150px 0 0 0; padding:0; position:relative;}

.features-section .features-div h3{ margin:0 0 10px 0; padding:0;color:#344052; font-size:28px; font-weight:700;}
.features-section .features-div p{ margin:0 0px 20px 0; padding:0;color:#344052; font-size:16px; line-height:24px;}
.features-section .features-div .features-img-div {margin:0; padding:0; position:relative;}
.features-section .features-div .features-img-div.right {margin:0; padding:0; position:relative;text-align:right;}
.features-section .features-div .features-img-div img { height:500px;}
.features-section .features-div .features-img-div .img1 { position:absolute; z-index:10; top:0; left:0;}
.features-section .features-div .features-img-div .img2 { position:absolute; z-index:11; top:40px; left:130px;}
.features-section .features-div .features-img-div.right .img1 {  z-index:12;  top:30px; right:100px;}
.features-section .features-div .features-img-div.right .img2 { z-index:10; top:0; right:0;}

.video-section { margin:0; padding:150px 0 100px 0; position:relative; background:#7a73fb;}
.video-section .video-div{ margin:0; padding:0; position:relative; text-align:center;}
.video-section .video-div h3{ margin:0 0 10px 0; padding:0; position:relative; text-align:center; color:#fff; font-size:32px; font-weight:600;}
.video-section .video-div p{ margin:0 0 50px 0; padding:0 30%; position:relative; text-align:center; color:#fff; font-size:14px;}
.video-section .video-div .vidoe-icon{ margin:0 auto; padding:0; position:relative; text-align:center;}
.video-section .video-div .vidoe-icon img{ margin:0 auto;text-align:center;}

.get-started-section  { margin:0; padding:0; position:relative;}
.get-started-section  .get-started-div{ margin:0; padding:0 0 50px 0; position:relative; text-align:center;}
.get-started-section  .get-started-div h3{ margin:30px 0 10px 0; padding:0; position:relative; text-align:center; color:#344052; font-size:32px; font-weight:600;}
.get-started-section .get-started-div p{ margin:0 0 50px 0; padding:0 30%; position:relative; text-align:center; color:#344052; font-size:14px;}
.get-started-section .get-started-div .get-started-img{ margin:-50px auto 0 auto; padding:0; position:relative; text-align:center;}
.get-started-section .get-started-div .get-started-img img{ margin:0 auto;text-align:center;}

.get-started-section .email-box{ margin:0 auto; padding:0;position:relative; width:50%;}
.get-started-section .email-box .form-inline{ margin:0 auto; padding:0;position:relative; display:block; text-align:center;}
.get-started-section .email-box .form-control{ margin-right:5px; position:relative; border-radius:0; box-shadow:0 5px 5px #222; color:#666; width:45%;}
.get-started-section .email-box .btm-link  { margin:10px 120px 0 0; padding:0; display:block; position:relative; text-align:right; color:#344052; font-size:11px;}
.get-started-section .email-box .btm-link  a{color:#344052; font-size:11px; text-decoration:underline;}
.get-started-section .email-box .btm-link  a:hover{text-decoration:none;}

.download-app-section { margin:0; padding:50px 0 50px 0; position:relative; 
background: #b4141f; /* Old browsers */
background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b4141f 0%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b4141f 0%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}
.download-app-section .download-app-div{ margin:0; padding:0; position:relative; text-align:center;}
.download-app-section .download-app-div h3{ margin:0 0 10px 0; padding:0; position:relative; text-align:center; color:#fff; font-size:32px; font-weight:600;}
.download-app-section .download-app-div p{ margin:0 0 50px 0; padding:0 30%; position:relative; text-align:center; color:#fff; font-size:14px;}
.download-app-section .download-app-div .app-btn{ margin:0 auto; padding:0; position:relative; text-align:center;}
.download-app-section .download-app-div .app-btn img{ margin:0 auto;text-align:center;}

.footer-div{ margin:0; padding:50px 0; position:relative; background:#161e28;}
.footer-div .footer-col-div { margin:0; padding:0; position:relative;}
.footer-div .footer-col-div .footer-link-div { margin:0; padding:0; position:relative;}
.footer-div .footer-col-div .footer-link-div h4{ margin:0 0 10px 0; padding:0; position:relative; color:#fff; font-size:16px; font-weight:700;}
.footer-div .footer-col-div .footer-link-div ul{ margin:0; padding:0;}
.footer-div .footer-col-div .footer-link-div ul li{ margin:0 0 5px 0; padding:0; color:#fff; font-size:14px;}
.footer-div .footer-col-div .footer-link-div ul li a{ margin:0; padding:0; color:#fff; font-size:14px;}
.footer-div .footer-col-div .footer-link-div p{ margin:0; padding:0; color:#fff; font-size:14px;}

.copyright-div { margin:0; padding:20px 0; background:#232b36;}
.copyright-div p{ margin:0; padding:0; color:#fff; font-size:14px;}
.copyright-div .social-footer{ margin:0; padding:0; text-align:right;}
.copyright-div .social-footer li{ margin:0 25px 0 0; padding:0; color:#73787f; display:inline-block;}
.copyright-div .social-footer li a{ margin:0; padding:0; color:#73787f; }
.copyright-div .social-footer i { font-size:24px;}
.copyright-div .social-footer li a:hover{ color:#fff;}

.light-red-bg-1{ background: url(../images/light-red-bg.png) no-repeat center top; height:1387px; top:-300px; z-index:10; position:relative;}
.feature-top-1 { padding-top:400px;}

.light-red-bg-2{ background: url(../images/light-red-bg-2.png) no-repeat center top; height:1058px; top:0; z-index:10; position:relative;}
.feature-top-2 { padding-top:400px;}


#back-to-top { margin:0; padding:0; position:absolute; right:20px; bottom:20px; cursor:pointer; z-index:13;}
#back-to-top span { margin:0; padding:0; position:relative; border-radius:50px; width:50px; height:50px; text-align:center; line-height:45px; color:#fff; font-size:24px; font-weight:600; display:inline-block;

background: #b4141f; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #b4141f 0%, #3252a8 50%, #004b8d 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #b4141f 0%,#3252a8 50%,#004b8d 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #b4141f 0%,#3252a8 50%,#004b8d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#004b8d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.faq-section  { margin:0; padding:0; position:relative;}
.faq-section .faq-div{ margin:0; padding:100px 0; position:relative; }
.faq-section .faq-div h3{ margin:0px 0 20px 0; padding:0; position:relative;color:#344052; font-size:18px; font-weight:600;}
.faq-section .faq-div p{ margin:0 30px 20px 0; padding:0; position:relative; color:#344052; font-size:14px; line-height:20px;}

.blk-title { margin:0px 0 50px 0; padding:0; position:relative;color:#344052; font-size:38px; font-weight:600; text-align:center; text-transform:uppercase}

.testimonials-container{ margin: 0 auto; padding:0 0 100px 0; position:relative; text-align:center;}
.testimonials-container .testimonials-div{ margin:0 auto; padding:0; position:relative; text-align:left; }
.testimonials-container .testimonials-div .thumb{ margin:0; padding:0; position:relative;  display:table-cell; vertical-align:top; }
.testimonials-container .testimonials-div .thumb img{ margin:0; position:relative; width:80px; height:80px; border-radius:100%; display:table-cell;}
.testimonials-container .testimonials-div .txt{ margin:0; padding:0; position:relative;left:20px; display:table-cell; vertical-align:top;}
.testimonials-container .testimonials-div .txt p{ margin:0 0 20px 0; padding:0; position:relative; color:#fff; font-size:13px;}
.testimonials-container .testimonials-div .txt .client{ margin:0; padding:0; position:relative; display:block; color:#9399a3; font-size:13px;}

.pricing-container { margin: 0 auto; padding:0; position:relative;}
.pricing-top-container { margin: 0 auto; padding:100px 0; position:relative;}
.pricing-top-container h2{  margin:0 0 20px 0; padding:0; position:relative; color:#fff; font-size:24px; font-weight:700;}
.pricing-top-container h3{ margin:0 0 60px 0; padding:0; position:relative; color:#fff; font-size:14px;}

.pricing-top-container .pricing-blk-div{ margin: 0 auto; padding:0; position:relative; border-radius:8px; background:#fff; height:378px; box-shadow:0 5px 5px #ccc;}
.pricing-top-container .pricing-blk-div h4{ margin: 0 auto; padding:25px 0; position:relative; background:#dfdfdf; color:#333; font-size:14px; text-transform:uppercase; font-weight:700; text-align:center; border-radius: 8px 8px 0 0;}
.pricing-top-container .pricing-blk{ margin: 0 auto; padding:0; position:relative;border-radius:0 0 8px 8px; background:#fff;}

.pricing-top-container .pricing-blk-div{ margin: 0 auto; padding:0; position:relative;}

/* general */

.header-section {
    background: #b4141f; /* Old browsers */
	background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 60%, #014b8e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}

.contact-container .form-group {
    margin-bottom: 1.5rem!important;
}
.login-container .form-group {
    margin-bottom: 1.5rem!important;
}
/* end of general */

/* contact us */

.contact-container { margin: 0 auto; padding:0; position:relative;}
.contact-top-container { margin: 0 auto; padding:100px 0; position:relative;}
.contact-top-container h1{  margin:0 0 20px 0; padding:0; position:relative; color:#fff; font-size:42px; font-weight:700;text-align:center;}
.contact-top-container h3{ margin:0 0 40px 0; padding:0 20px; position:relative; color:#fff; font-size:20px;line-height:1.6;}
.contact-top-container .content_div{ margin: 0 auto; padding:0; position:relative; }
.contact-top-container .card_div{margin: 0 auto; padding:50px 20px; position:relative;background-color:#fff;border-radius:6px;box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);}
.contact-top-container .card_div label{font-weight:600;color: #253145!important;}
.contact-top-container .card_div .form-control {display: block;width: 100%;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #f6f6f6;
    background-clip: padding-box;border: 1px solid #f3f3f3;border-radius: 0;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.contact-top-container .card_div textarea {resize:none;}
.contact-top-container .card_div .btn-div{display:block;text-align:center;margin:0;padding:30px 0;}
.contact-top-container .card_div .btn-div .btn-startfree{width:60%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}
.contact-top-container .card_div .btn-div .btn-startfree:hover{width:60%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}
.contact-top-container .card_div ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaafb6;
}
.contact-top-container .card_div ::-moz-placeholder { /* Firefox 19+ */
  color: #aaafb6;
}
.contact-top-container .card_div :-ms-input-placeholder { /* IE 10+ */
  color: #aaafb6;
}
.contact-top-container .card_div:-moz-placeholder { /* Firefox 18- */
  color: #aaafb6;
}

/* end of contact us */

/* login */

.login-bg{
	background: #b4141f; /* Old browsers */
	background: -moz-linear-gradient(left, #b4141f 0%, #014b8e 60%, #014b8e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b4141f 0%, #014b8e 60%,#014b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4141f', endColorstr='#014b8e',GradientType=1 ); /* IE6-9 */
}

.login-container { margin: 0 auto; padding:0; position:relative;}
.login-top-container { margin: 0 auto; padding:100px 0; position:relative;}
.login-top-container .content_div{ margin: 0 auto; padding:0; position:relative; }
.login-top-container .content_div .logo-div{ margin: 0 auto 50px auto; padding:0; position:relative;text-align:center; }
.login-top-container .card_div{margin: 0 auto; padding:50px 20px; position:relative;background-color:#fff;border-radius:6px;box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);}
.login-top-container .card_div label{font-weight:600;color: #253145!important;}
.login-top-container .card_div .form-control {display: block;width: 100%;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #f6f6f6;
    background-clip: padding-box;border: 1px solid #f3f3f3;border-radius: 0;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.login-top-container .card_div textarea {resize:none;}
.login-top-container .card_div .login-div-content{margin:0;padding:00px 0;}
.login-top-container .card_div .login-div-content h2{margin: 0 0 10px 0;padding: 0;position: relative;color: #253145;font-size: 42px;font-weight: 700;text-align: center;}
.login-top-container .card_div .login-div-content p{margin: 0 0 30px 0;padding: 0;position: relative;color: #253145;font-size: 16px;font-weight: 600;text-align: center;}
.login-top-container .card_div .login-div-content a{background: linear-gradient(to right, #b4141f 0%,#014b8e 100%);-webkit-background-clip: text;-webkit-text-fill-color:transparent;
text-transform:capitalize;}
.login-top-container .card_div .forgot-password{padding:0;margin:0;text-align:right;}
.login-top-container .card_div .forgot-password a{padding:0px;font-weight: 600;color: #253145!important;text-decoration:underline;}

.login-top-container .card_div .btn-div{display:block;text-align:center;margin:0;padding:30px 0 10px 0;}
.login-top-container .card_div .btn-div .btn-startfree{width:100%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}
.login-top-container .card_div .btn-div .btn-startfree:hover{width:60%;box-shadow: 0 5px 5px rgba(34, 34, 34, 0);padding: .5rem 30px!important;}

/* login */

@media only screen and (max-width: 767px){
	html, body { overflow-x:hidden;}
	.container { width:100% !important;}	
	.canvas { margin:0!important; padding:0!important;}
	
	.header-div .container-fluid, .header-div .row, .header-div .col-md-12, .header-div .col-sm-12 { margin:0; padding:0;}
	.header-div .logo-div{ z-index:9999;padding:0 10px;}
	.header-div { padding:20px 0px; height:auto; }
	.header-section{background:#004b8d; background-image:none;height:auto;}
	
	.header-div .logo-div img { z-index:9999;}
	.navbar-toggler { border:0; float:right; width:100%;outline:0; border:0; text-align:right;}
	.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:vistied {outline:0; border:0;}
	.header-div .navbar { padding:0; float:right;}
	.header-div .nav-div {position: absolute; right: 0;width: 100%;float: right;display: block;text-align: right; z-index:10;}
	.navbar-collapse {margin: 20px 0; padding:10px 0; text-align: left; background:#004b8d;}
	.header-div .nav-div li { padding:5px 0px;}
	
	.top-startup { padding:20px 10px;}
	.btn-startfree { width:100%; margin:10px 0 0 0;}
	
	.banner-container { padding:20px;}
	.banner-container .top-email-box { width:90%;}
	.banner-container .top-email-box .form-control{ width:100%;}
	.banner-container .top-email-box .btm-link { margin:10px 0 0 0; text-align:center;}
	
	.three-action-box { padding-left:20px; padding-right:20px;}
	.three-action-box .three-action-div { margin-bottom:40px;}
	.three-action-box .three-action-div p { margin-right:10px;}
	.short-plan-div .short-plan-box { width:90%;}
	.short-plan-div .short-plan-box .btn-link-div { margin:10px auto; float:none; text-align:center;}
	
	.light-red-bg-1 , .light-red-bg-2{ background-image:none; background:#fcf7fa; height:auto; top:auto;}
	.feature-top-1, .feature-top-2{ padding:0;}
	
	.features-section { padding:100px 0;}
	.features-section .features-div .features-img-div { height:300px; margin:0 auto 0px auto; text-align:center;}
	.features-section .features-div .features-img-div img { height:300px; margin:0 auto; text-align:center;}
	
	.video-section { padding-top:100px;}
	.video-section .video-div p {padding:0 20px;}
	.video-section .video-div .vidoe-icon img { width:25%;}
	.get-started-section .get-started-div .get-started-img img{ width:90%;}
	.get-started-section .get-started-div p{padding:0 20px;}
	
	.get-started-section .email-box { width:80%;}
	.get-started-section .email-box .form-control { width:100%;}
	.get-started-section .email-box .btm-link { margin:10px auto; float:none; text-align:center;}
	.download-app-section .download-app-div p{padding:0 20px;}
	
	.footer-div .footer-col-div .footer-link-div img { margin:0 auto; text-align:center;}
	.footer-div .footer-col-div .footer-link-div  { margin-bottom:30px;}
	
	.copyright-div .social-footer { text-align:center;}
	.copyright-div p{ text-align:center; margin:0px 0 20px 0;}
	
	.short-plan-div { margin:0; padding:0 0 100px 0;}
	
	
}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	.header-div .container-fluid, .header-div .row, .header-div .col-md-12, .header-div .col-sm-12 { margin:0; padding:0;}
	.header-div .logo-div{ z-index:9999;padding:10px 30px;}
	.header-div { padding:20px 0px; height:auto; }
	.header-section{background:#004b8d; background-image:none;height:auto;}
	
	.header-div .logo-div img { z-index:9999;}
	.navbar-toggler { border:0; float:right; width:100%;outline:0; border:0; text-align:right;}
	.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:vistied {outline:0; border:0;}
	.header-div .navbar { padding:0; float:right; width:100%;}
	.header-div .nav-div {position: absolute; right: 0;width: 100%;float: right;display: block;text-align: right; z-index:10;}
	.navbar-collapse {margin: 20px 0; padding:10px 0; text-align: left; background:#004b8d;}
	.header-div .nav-div li { padding:5px 0px;}
	
	
	.features-section .features-div .features-img-div { height:300px; margin:50px auto 0px auto; text-align:center;}
	.features-section .features-div .features-img-div img { height:300px; margin:0 auto; text-align:center;}
	.features-section .features-div .features-action-div { margin-top:0;}
	
	.video-section { padding:100px 50px;}
	.video-section .video-div p {padding:0 20px;}
	.video-section .video-div .vidoe-icon img { width:15%;}
	.get-started-section .get-started-div .get-started-img img{ width:90%;}
	.get-started-section .get-started-div p{padding:0 20px;}
	
	.get-started-section .email-box { width:70%;}
	.get-started-section .email-box .btm-link { margin:20px auto; float:none; text-align:center;}
	
	.download-app-section .download-app-div p{padding:0 20px;}
	
	
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	
	
}
